.region-top-menu-box {
  background-color: black;
  line-height: 33px;
}
.region-top-menu-box {
 line-height: 33px;
 height:40px;
 overflow:hidden;
}
.region-top-menu-box *{
  color: white;
}
.region-top-menu-box #block-block-1 {
  height: 100%;
}
body:not(.front) .region-top-menu-box #block-block-1 {
    float: right;
   
}
.region-top-menu-box #block-block-1 p {
  margin:0px;
}
#block-block-7 p{
	margin-bottom : 0px;
}

#user,
#help{
	text-indent : -9999px;
    display: inline-block;
    
    width: 20px;
    height: 38px;
}
